.root {
    -fx-background-color: #f4f6f8;
    -fx-font-family: 'Segoe UI', sans-serif;
}
.button {
    -fx-background-color: #2c3e50;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-padding: 8 20 8 20;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0, 0, 3);
}

.button:hover {
    -fx-background-color: #34495e;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.button-danger {
    -fx-background-color: #e74c3c;
}
.button-danger:hover {
    -fx-background-color: #c0392b;
}

.text-field {
    -fx-background-color: white;
    -fx-background-radius: 5;
    -fx-border-color: #bdc3c7;
    -fx-border-radius: 5;
    -fx-padding: 8;
}

.text-field:focused {
    -fx-border-color: #1abc9c;
}